.event-section,
.accommodation {
  margin: 40px 0;
}

.order-of-events {
  display: grid;
  margin: 0 auto;
  width: 250px;
  grid-template-columns: 175px 75px;
  align-items: center;
  text-align: left;
}

.things-to-do {
  list-style-type: none;
  position: relative;
  left: -20px;
  margin: 20px;
}

.things-to-do > *,
.event-section .link {
  text-transform: capitalize;
}

.event-paragraph {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}
