.emoji-container {
  position: fixed;
  pointer-events: none;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 9;
}
.emoji-container .emoji {
  position: relative;
  font-size: 36px;
  opacity: 0;
}
.emoji-container .animation1 {
  -webkit-animation: squiggle_fall 3s ease-in-out;
  animation: squiggle_fall 3s ease-in-out;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.emoji-container .animation2 {
  -webkit-animation: squiggle_fall 4s ease-in-out;
  animation: squiggle_fall 4s ease-in-out;
  -webkit-animation-delay: 0.5;
  animation-delay: 0.5;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.emoji-container .animation3 {
  -webkit-animation: squiggle_fall 5s ease-in-out;
  animation: squiggle_fall 5s ease-in-out;
  -webkit-animation-delay: 1;
  animation-delay: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.emoji-container .animation4 {
  -webkit-animation: squiggle_fall 6s ease-in-out;
  animation: squiggle_fall 6s ease-in-out;
  -webkit-animation-delay: 1.5;
  animation-delay: 1.5;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.emoji-container .animation5 {
  -webkit-animation: squiggle_fall 7s ease-in-out;
  animation: squiggle_fall 7s ease-in-out;
  -webkit-animation-delay: 2;
  animation-delay: 2;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes squiggle_fall {
  0% {
    opacity: 0;
    top: -10%;
    left: 0%;
  }
  25% {
    opacity: 0.8;
    left: 5%;
  }
  50% {
    opacity: 1;
    left: 0%;
  }
  75% {
    opacity: 0.2;
    left: 5%;
  }
  100% {
    top: 100%;
    left: 0%;
    opacity: 0;
  }
}
@keyframes squiggle_fall {
  0% {
    opacity: 0;
    top: -10%;
    left: 0%;
  }
  25% {
    opacity: 0.8;
    left: 5%;
  }
  50% {
    opacity: 1;
    left: 0%;
  }
  75% {
    opacity: 0.2;
    left: 5%;
  }
  100% {
    top: 100%;
    left: 0%;
    opacity: 0;
  }
}
@media (max-width: 650px) {
  .emoji-container .emoji {
    font-size: 28px;
  }
}
@media only screen and (max-width: 450px) {
  .emoji-container .emoji {
    font-size: 24px;
  }
}
