.textarea {
  width: 80vw;
  max-width: 300px;
  height: 100px;
  border-radius: 8px;
  margin: 20px auto;
  font-family: "Lora";
  padding: 10px;
}

.extra-question-label {
  display: block;
  margin: 20px auto;
}

.textarea + .button {
  margin: 10px auto;
}

.family-questions {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
