.link {
  color: black;
  text-decoration: none;
  position: relative;
  text-transform: lowercase;
  width: fit-content;
  z-index: 1;
}

.link::after {
  position: absolute;
  content: "";
  height: 1px;
  background: black;
  width: 100%;
  bottom: -5px;
  left: 0;
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: 0.3s ease transform;
}

.link:hover::after {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}
